<div class="row">
  <h2>Latest Photos</h2>
  <ul id="thumbnailsList">
    <li *ngFor="let image of images | async" class="img">
      <a [routerLink]="['/image', image.$key]">
        <img src="{{image.url}}" class="tn">
      </a>
    </li>
  </ul>
</div>

<ngb-carousel>
  <ng-template ngbSlide *ngFor="let image of images | async" class="img">
    <img src="{{image.url}}" class="tn">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>